.header__square-pic {
    width: 568px;
    height: 568px;
    background-color: #2f80ed;
    position: absolute;
    right: 0px;
    top: 64px;
    transform: rotate(15deg);
    animation: rotation 20s linear infinite;
  }