.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}


.logo {
  width: 228px;
  height: 32px;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  background-color: #f2f2f2;
}

.header__title {
  width: 730px;
  font-size: 102px;
  font-weight: 600;
  z-index: 3;
  line-height: 96px;
  margin: 0 0 0 64px;
}

.header__subtitle {
  width: 388px;
  line-height: 25px;
  position: absolute;
  bottom: 30px;
  left: 64px;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
  z-index: 3;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 2;
}

.header__main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  right: 0px;
  bottom: 0px;
  z-index: 1;
}

.header__square-pic {
  width: 568px;
  height: 568px;
  background-color: #2f80ed;
  position: absolute;
  right: 0px;
  top: 64px;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
}

.description {
  display: flex;
  justify-content: center;

}

.two-columns {
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  justify-content: space-between;
  min-height: 180px;
  width: 80%;

}

.two-columns__brief {
  color: #2f80ed;
  font-size: 18px;
  line-height: 1.2;
  font-weight: normal;
  margin: 0;
  width: 175px;
}


.two-columns__main-text {
  width: 80%;
  min-width: 784px;
  list-style-type: none;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 0;
  padding-bottom: 30px;
}

.two-columns__paragraph:last-child {
  padding: 0px;
}



.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: 600;
}

.digits {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-title {
  width: 60%;
  font-size: 60px;
  line-height: 1.15;
  font-weight: 600;
  text-align: center;
  margin: auto 0 auto 0;
  z-index: 2;
}

.section-title_theme_dark {
  color: white;
}

.section-subtitle {
  width: 60%;
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
  text-align: center;
  margin: 0;
  padding: 20px 0 0 0;
  z-index: 2;
}

.section-subtitle_theme_dark {
  color: white;
}

.table {
  width: 1100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
  z-index: 1;
  justify-content: space-between;
  margin: 0 auto 100px;
  padding: 0;
}

.table_theme_dark {
  color: white;
  margin: 0 auto 90px;
}

.table__cell {
  width: 250px;
  padding-top: 60px;
  box-sizing: border-box;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  padding-top: 80px;
}

.table__heading {
  font-size: 24px;
  line-height: 1.15;
  font-weight: 600;
  margin: 0 0 0 0;
  text-align: top;
  vertical-align: top;
}

.table__text {
  font-size: 18px;
  line-height: 1.2;
  font-weight: normal;
  margin: 0;
  padding: 20px 0 0 0;
  width: 240px;
}

.table__text_theme_dark {
  width: 200px;
}




.feynman {
  display: flex;
  align-items: center;
  position: relative;
  background-color: #f2f2f2;
  flex-direction: column;
  height: 890px;
  width: 100%;
}

.feynman__title {
  width: 648px;
  font-size: 120px;
  line-height: 1.2;
  font-weight: 600;
  margin: 100px 0 70px 0;
  text-align: center;
  z-index: 1;
}

.feynman__subtitle {
  font-size: 36px;
  line-height: 51px;
  font-weight: normal;
  margin: 0;
  z-index: 1;
}

.feynman__img {
  width: 867px;
  height: 637px;
  position: absolute;
  left: 0px;
  bottom: 0px;
}

.feynman__link {
  font-size: 36px;
  line-height: 51px;
  font-weight: normal;
  position: absolute;
  right: 48px;
  top: 50%;
  text-decoration: none;
  z-index: 1;
  color: #2f80ed;
}

.kaufman {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  position: relative;
  padding-top: 90px;
  background-color: #1F1F1F;
}

.kaufman__triangle {
  background-image: url(../images/kaufman-triangle.svg);
  background-repeat: no-repeat;
  position: absolute;
  width: 877px;
  height: 877px;
  right: -210px;
  top: 0;
  background-size: contain;
}

.footer {
  min-height: 350px;
  display: flex;
  background-color: #1F1F1F;
  color: white;
}

.footer__columns {
  width: 90%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: 60px auto 40px;
}

.footer__column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.footer__column_content_copyright {
  margin: 0;
  flex-basis: 711px;
}

.logo_place_footer {
  z-index: 3;
  margin: 0;

}

.footer__author {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  margin: 18px 0;
}

.footer__column_content_info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  list-style: none;
  margin: 0;
}

.footer__column_content_social {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  list-style: none;
  margin: 0;
}



.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

.footer__column-links {
  margin-top: 20px;
  margin-bottom: 16px;
  list-style: none;
  padding: 0;
}

.footer__column_link {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
  text-decoration: none;
  color: white;
}

.footer__social-icon {
  height: 16px;
  width: 16px;
  margin-right: 10px;
}